<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238172197060-qbu56l4hkpjdob65inb5277fajakqh7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238172197060-qbu56l4hkpjdob65inb5277fajakqh7a</string>
	<key>API_KEY</key>
	<string>AIzaSyB6M7BrsFcXKOqqgsUjK3tVr7RxwkGqYOk</string>
	<key>GCM_SENDER_ID</key>
	<string>238172197060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pokemonApp</string>
	<key>PROJECT_ID</key>
	<string>pokeyuna-data</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeyuna-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238172197060:ios:ade22ad0abaa2c5f54b991</string>
</dict>
</plist>